.description {
    /* max-width: 700px; */
    width: 100%;
}

.titletext {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: calc(30px + 0.5vw);
}

.info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 15px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.resume {
    padding: 0.8em;
    color: white;
    font-weight: bold;
    text-shadow: 2px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    background: linear-gradient(
        0deg,
        #0e46ed,
        #0d6aff,
        #0d96ff
    )
    no-repeat;
}

.resume:hover {
    animation: shake 500ms ease-in-out;
}

@keyframes shake {
    0% {
        transform: rotate(-10deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.email {
    padding: 0.8em;
    color: white;
    font-weight: bold;
    text-shadow: 2px;
    cursor: pointer;
    border: none;
    border-radius: 30px;

    background: linear-gradient(
        1deg,
        #0e46ed,
        #0d6aff,
        #0d96ff,
        #0dbaff,
        #0dd3ff
    )
    no-repeat;

    background-size: 1000%;
    background-position: left;
    transition: background 500ms ease;
}

.email:hover {
    background-size: 500%;
    background-position: center;
}