.skilltile{
    background-color: white;
    border-radius: 10px;
    display: flex;
    padding: 5px;

    box-shadow: 1px 1px 3px 1px #e0dede;
}

.skillimage {
    height: calc(35px + 0.390625vw);
    border-radius: 5px;
    width: auto;
    /* min-height: 10px;
    min-width: 10px; */
}

.langname {
    display: flex;
    justify-content: center;
    /* align-content: center; */
    flex-direction: column;
    padding: 10px;
    font-size: calc(10px + 0.390625vw);
}