.projecttile {
    background-color: rgba(255, 255, 255, 0.705);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    margin: 20px 0px;
    padding: 20px;
    width: auto;

    box-shadow: 5px 5px 5px 1px #e0dede;
}

#projectdescription {
    padding: 0px calc(5px + 0.390625vw);
    /* width: 50%; */
}

#projecttitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: calc(15px + 0.390625vw);
}

#projectsubtitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: calc(10px + 0.390625vw);
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

#image {
    /* height: 150px;
    width: 150px; */
    height: 10%;
    width: 10%;
    min-height: 70px;
    min-width: 70px;
}

#skillslist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

#lang {
    margin-left: auto;
}

.graytext {
    color: gray;
}