.skillsdirectory {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    
    margin: 20px 0px;
    padding: 20px;
    width: auto;

    box-shadow: 5px 5px 5px 1px #e0dede;
}